body {
  background-color: #1D1AA9;
  transition: background-color 0.5s ease;
}


.text-yellow {
  color: yellow;
  transition: color 0.7s ease;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #1D1AA9;
}


@keyframes blink {
  50% {
    color: white;
  }
}

.blink {
  animation: blink 1s linear infinite;
}

.custom-btn {
  background-color: rgba(255, 255, 0, 1);
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.imageGallery {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}


.slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide .overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active .overlay,
.slide.active .overlayContent {
  opacity: 1;
}

.smallImage {
  width: 50px;
  height: auto;
}

.description {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(50%,-50%);
  margin: 0;
  padding: 50px;
  background-color: rgba(72, 0, 255, 0.7);
  color:#1D1AA9
}


.prevButton {
  display: none;
  position: absolute;
  top: 100%;
  transform: translateX(100px) translateY(300px);
  width: 60px;
  height: 60px;
  background-color: #1D1AA9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.nextButton {
  display: none;
  position: absolute;
  top: 100%;
  transform: translateX(1100px) translateY(300px);
  width: 60px;
  height: 60px;
  background-color: #1D1AA9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.prevButton:hover,
.nextButton:hover {
  background-color: white;
  color: #1D1AA9;
}

.arrowContainer {
  text-align: center;
  margin-top: 20px;
  position: absolute;
  transform: translateX(630px) translateY(660px);
}

.fa-angle-down {
  color: #1D1AA9;
  font-size: 30px;
  animation: floatUpDown 2s ease-in-out infinite;
}

@keyframes floatUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}


.photoContainer {
  position: absolute;
  width: 500px;
  height: 80px;
  top: 200%;
  left: 40px;
  right: 40px;
  border: 7px solid #1D1AA9;
  overflow: hidden;
  justify-content: center; 
  transform: translateX(350px) translateY(300px);
}

.photoContainer .photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.photoContainer:hover .photo {
  opacity: 0;
}

.photoContainer:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("aboutmehover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photoContainer:hover::before {
  opacity: 1;
}


#ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #1D1AA9;
  position: fixed;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#ball:hover {
  transform: scale(1.5);
}

.clickable-area {
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#animated-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #1D1AA9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh; 
}

.imgContainer {
  height: 364px;
  width: 800px;
  position: relative;
  overflow: hidden;
  background-image: url("092106651.jpg");
  transform: translateY(1050px);
}

.imgContainer:hover {
  background-image: url("092120665hover.jpg");
}

.imgContainer .hoverImage {
  display: none;
}

.imgContainer:hover .defaultImage {
  display: none;
}

.imgContainer:hover .hoverImage {
  display: block;
}


.textContainer {
  display: flex;
  justify-content: center; 
  height: 100vh;
  line-height: 2;
}

.textbox{
  font-size: 18px;
  position: relative;
  transform: translateY(850px);
}

.socialContainer {
  position: relative;
  display: inline-block;
  margin: 10px;
  width: 120px;
  height: 120px;
  transform: translateY(0px) translateX(400px);

}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1D1AA9;
  opacity: 0;
  transition: opacity 0.3s;
}

.socialContainer:hover .imageOverlay {
  opacity: 1;
}

.circleImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.hoverImage {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.socialContainer:hover .circleImage {
  display: none;
}

.socialContainer:hover .hoverImage {
  display: block;
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.socialText {
  position: relative;
  text-align: center;
  margin-top: 10px; 
  color: #1D1AA9; 
  font-size: 14px; 
  transform: translateY(130px);
}
